.buttonContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1em;
}

.btn {
    width: 8em;
}

.menuButton {
    padding: 0.5em 0;
    text-align: center;
    align-self: flex-end;
}

.container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}