@import url(./styles/normalize.css);
@import url(./styles/main.css);
@import url(./styles/button.css);

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
